/*Imports*/
/*Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Background */
body{
    background-repeat: no-repeat;
    background-position: absolute;
    background-attachment: fixed;
    background-size: cover;
}
#body-home{
    background-image: url('img/bg-home.webp');
}
#body-news{
    background-image: url('img/bg-news.webp');
}
#body-about{
    background-image: url('img/bg-about.webp');
}
#body-contact{
    background-image: url('img/bg-contact.webp');
}
#body-form{
    background-image: url('img/bg-form.webp');
}
/* Navbar */
.nav{
    display: flex;
    justify-content: flex-end;
    margin: 4vh;
}
.nav-link{
    color: rgb(255, 255, 255) !important; /*Sobreescribir lo de Boostrap*/
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
/* Home */
.container-home h2{
    margin-top: 12%;
}
.container-home img{
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(80deg) brightness(200%) contrast(100%);
    width: 6%;
}
.subtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 230%;
    text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px;
    color: rgb(67, 175, 94);
}
.title{
    font-family: 'Roboto', sans-serif;
    text-shadow: rgba(0, 0, 0, .4) 1px 3px 2px;
    font-weight: bolder;
    font-size: 350%;
    color: white;
}
.parrafo-home{
    text-shadow: 2px 2px 4px #000000;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 120%;
    font-style: italic;
    color: white !important;
}
/*Noticias*/
.noticias{
    padding: 2% 2% 2% 2%!important;
}
.card{
    border-radius: 100%;
    box-shadow: white;
    transition: all 400ms ease;
    background-color: rgba(255, 255, 255, .6) !important;
}
.card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    transform: translateY(-3%);

}

.card-title{
    font-family: 'Oswald', sans-serif;    
    font-size: 150%;
    text-align: center;
}
.card-text{
    font-family: 'Roboto', sans-serif;	
    font-size: 99%;
    text-align: center;
}

.btn-success{
    display: flex !important;
    justify-content: center !important;
    font-weight: 600 !important;
}
/*Visitanos*/
.container-about{
    text-align: center;
}
.introduccion-about{
    margin-top: 4%;
    background-color: rgba(255, 255, 255, .05);
    padding: 4%;
}
.introduccion-about img{
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(80deg) brightness(200%) contrast(100%);
    width: 40%;
}
.container-about h3{
    color: white;
    text-align: start;
    margin: 5% 10% 1% 10%;
    font-family: 'Oswald', sans-serif;
}
.introduccion-about h4{
    margin-top: 8% !important;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: white;
}
.subtitle-secondary{
    margin-top: 2%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 130%;
    color: #97A483;
}
.title-secondary{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -1%;
    font-weight: bolder;
    color: aliceblue;
}
#parragraph-about{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: beige;
    margin: 2% 0% 0% 0%;
}
#carouselExampleCaptions{
    margin: 0% 10% 3% 10% !important;
    box-shadow: 3px 1px 17px rgba(255, 255, 255, .05);
}
/*Formulario*/
.container-formulario{
    background-color: rgba(255, 255, 255, 0.338);
    margin: 0% 20% 0% 20% !important;
    box-shadow: 3px 1px 17px rgba(0, 0, 0, .4);
    padding: 1.3% 2% 0.7% 2% !important;   
}
.container-formulario label{
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    font-weight: bolder;
}
#subtitle-register{
    margin-bottom: 1.7%;
    font-weight: 500;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2%;
}
#enviar_form{
    display: flex;
    justify-content: center;
}
/*Contacto*/
.contact-card img{
    padding: 6%;
    display: flex;
    justify-content: center;
}
.contact-card a{
    display: flex;
    justify-content: center;
}
.contact-card p{
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    font-weight: bolder;
    text-align: center;
}
